body{
background-color: rgba(28, 42, 73, 1);
color: white;
margin: auto;
max-width: 1100px;
padding: 10px;

}


header{
	border-bottom: 3px solid;
}

h1{
	font-size: 30px ;
}


li {
font size: 10px;
}


nav h1{
	font-size: 40px;
	margin: 0 auto;
	text-align: center;

}


nav ul{
	margin: 0;
	text-align: right;
	font-weight: bold;
	margin-bottom: 3px;
	position: relative;

}

nav li {
display: inline-block;
font-size: 15px;
background-color: #dee7ef;
border-radius: 12px;
font-style: italic;

}

a {
	margin: 5px;
}

a:link, a:visited {
color: red;
}


a:hover {
color: white;
}

p{
font-size:25px;
margin:0;

}

p img{
	max-height: 300px;
	max-width:250px;
	float: right;

}

footer{
text-align: center;
margin: 40px;
}

footer li{
	margin: 3px;
	display: inline;
	font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid;
}

.family{
overflow: auto;
}


